{%  extends 'base.html' %}
{% block content %}
<h1 class="hh">Login</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet expedita id ipsam quibusdam ratione totam <br>
    vitae! Cumque debitis excepturi expedita impedit maiores repellendus <br>
    veniam! Aliquam amet nihil obcaecati ullam voluptates?</p>
<table border="2"  class="table">
    <tr>
        <th>name</th>
        <th>class</th>
        <th>grade</th>
        <th>subject</th>
    </tr>
    <tr>
        <td>collo</td>
        <td>4n</td>
        <td>A</td>
        <td>maths</td>
    </tr>
    <tr>
        <td>bett</td>
        <td>4d</td>
        <td>A</td>
        <td>geo</td>
    </tr>
    <tr>
        <td>cante</td>
        <td>4c</td>
        <td>A</td>
        <td>chem</td>
    </tr>
</table>


{% endblock %}